$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "variables.scss";

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


// HEADER
.main-nav {
  position: fixed;
  z-index: 9;
}
.nav-wrapper {
  position: fixed;
  padding: 0 40px;
}
nav .brand-logo img {
  padding:0px 0px 5px 0;
  height: 40px;
}
nav ul a {
	color: $text;
	text-transform: uppercase;
	font-weight: 400;
	&:hover {
		color: $brandColor;
	}
}

// SLIDER
.slider {
	.slides {
	  .slide {
      .caption {
        max-width: 400px;
        position: absolute;
        right: 10%;
        left: auto;
        top: auto;
        bottom: 10%;
        h3 {
          color: #000;
          text-shadow: 1px 1px 1px #fff;
          text-transform: uppercase;
          font-size: 1.6rem;
        }
        h5 {
          color: $text-dark;
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }
	  }
	}
	.indicators .indicator-item.active {
    background: $primary-color;
	}
}


.feature-tabs {
  img {
    max-height: 300px;
  }
}
.statistics {
  padding: 50px;
}


.devider {
  height: 1px;
  background: #eee;
  margin-top: 10px;
}
